@use "variables" as *;
@use "helpers" as *;

html {
    height: 100%;
    .no-scroll {
        overflow: hidden;
    }
}

body {
    @include fluid-text(18, 14);

    height: 100%;
    font-family: $font-family;
    font-weight: 300;
    line-height: 1.28;
    color: $text-color;
    background-color: $background-color;
}

#root {
    min-height: 100%;
    display: grid;
    grid-template-columns: rem(0) 1fr rem(50);
    transition-duration: $transition-duration;

    @include mobile-s {
        grid-template-columns: rem(0) 1fr rem(30);
    }

    &.sidebar-open {
        grid-template-columns: rem(400) 1fr rem(50);
    }
}

main {
    transition-duration: 0.5s;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-weight: 500;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 400;
}

h1,
.h1 {
    @include fluid-text(70, 30);
}
h2,
.h2 {
    @include fluid-text(58, 28);
}
h3,
.h3 {
    @include fluid-text(40, 24);
}

h4,
.h4 {
    @include fluid-text(26, 18);
}

h5,
.h5 {
    @include fluid-text(24, 18);
}

h6,
.h6 {
    @include fluid-text(20, 16);
}

a,
button,
svg,
i * {
    transition-duration: $transition-duration;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
